doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Plugin range-slider
  body
    h1 Plugin range-slider

    .wrapper
      #slider1

    .wrapper
      #slider2

    .wrapper
      #slider3

    .wrapper
      #slider4

    //- #content
