doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Plugin range-slider
  body
    h1 Plugin range-slider

    div
      div(style="width: 548px")
        .wrapper
          #slider1
      div(style="width: 300px")
        .wrapper
          #slider2

    .wrapper
      #slider3

    .wrapper
      #slider4

    .wrapper
      #slider5

    //- #content
