doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Plugin range-slider
  body
    h1 Plugin range-slider

    #range-slider
      //- #slider-body.slider-body
      //-   #slider-thumb.slider-thumb

    //- #content
