$heightSliderLine: 6px;
$widthSliderThumb: 16px;
$heightSliderThumb: 16px;
$topSliderThumb: -($heightSliderThumb - $heightSliderLine) / 2;
$widthTipValue: 40px;
$heightTipValue: 20px;
$leftSliderThumb: 100px - $widthSliderThumb / 2;
$leftTipValue: $leftSliderThumb - ($widthTipValue - $widthSliderThumb) / 2;

div {
  box-sizing:border-box;
}

.wrapper {
  width: 90%;
  padding: 50px;
}

.slider-body {
  width: 100%;
  height: $heightSliderLine;
  background-color: #e5e5e5;
  border-radius: 5px;
  position: relative;
}

.slider-thumb {
  width: $widthSliderThumb;
  height: $heightSliderThumb;
  background-color: red;
  top: $topSliderThumb;
  border-radius: 50%;
  position: absolute;
}

.tip-value {
  width: $widthTipValue;
  height: $heightTipValue;
  background-color: red;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  left: $leftTipValue;
  top: $topSliderThumb - $heightTipValue - 7px;
  border-radius: 5px;
  position: absolute;
}

.scale {
  width: 100%;
  height: 20px;
  // margin: -20px 0 10px 0px;
  position: relative;
  top: $heightSliderThumb + $topSliderThumb + 7px;
}
