$widthSliderThumb: 16px;
$widthTipValue: 40px;
$leftSliderThumb: 100px - $widthSliderThumb / 2;
$leftTipValue: $leftSliderThumb - ($widthTipValue - $widthSliderThumb) / 2;

div {
  box-sizing:content-box;
  // box-sizing:border-box;
}

#range-slider {
  width: 300px;
  padding: 50px 20px 20px;
}

.slider-body {
  width: 100%;
  height: 6px;
  background-color: #e5e5e5;
  border-radius: 5px;
}

.fill-slider-line {
  background: linear-gradient(to right, red 100px, #e5e5e5 100px);
}

.slider-thumb {
  width: $widthSliderThumb;
  height: 16px;
  background-color: red;
  // background-color: transparent;
  // border: 1px solid black;
  position: relative;
  left: $leftSliderThumb;
  top: -5px;
  border-radius: 50%;
}

.tip-value {
  width: $widthTipValue;
  height: 20px;
  background-color: red;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: $leftTipValue;
  top: -47px;
  border-radius: 5px;
}

.scale {
  display: flex;
  justify-content: space-between;
  // display: grid;
  width: 100%;
  height: 20px;
  margin: 10px 0 10px 0px;
  // border: 1px solid #000;
}
